@use "./_variables" as *;
@use "./_reset";

body {
  background-color: var(--figma-color-bg);
  color: var(--figma-color-text);
  font-family: var(--system-ui);
  font-weight: 400;
  font-size: 0.75rem;
}

%form-field-base {
  align-items: center;
  background: var(--figma-color-bg-secondary);
  border: 1.5px solid transparent;
  border-radius: .3125rem;
  color: var(--figma-color-text);
  display: flex;
  font-size: .6875rem;
  font-weight: 450;
  height: 1.5rem;
  letter-spacing: .00344rem;
  line-height: 1rem;
  outline: none;
  padding: 0 var(--s-06);
  width: 100%;

  &:hover {
    border-color: var(--figma-color-border);
  }

  &:focus {
    border-color: var(--figma-color-bg-brand);
  }

  &::placeholder {
    color: var(--figma-color-text-tertiary);
  }
}

.default-view {
  display: flex;
  flex-direction: column;
  height: 100vh;
  
  .plugin-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--figma-color-border);
    
    .form-controls {
      display: flex;
      align-items: center;
      width: 100%;
      gap: .5rem;
      padding-inline: 6px;
      padding-block: 6px;
      
      .depth-selector, .type-selector {
        display: flex;
        align-items: center;
        
        label {
          white-space: nowrap;
          margin-right: 6px;
        }
      }
      
      .depth-select {
        @extend %form-field-base;
        width: auto;
        height: 1.5rem;
        padding-right: 1.5rem;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='6' height='6' viewBox='0 0 6 6'%3E%3Cpath fill='%235E5E5E' fill-opacity='1' fill-rule='nonzero' stroke='none' d='m3 5 3-4H0z'%3E%3C/path%3E%3C/svg%3E");
        background-position: right 0.7rem center;
        background-repeat: no-repeat;
        background-size: .65em auto;

        margin: 0;
        align-self: center;
      }
      
      .type-selector {
        input[type="checkbox"] {
          margin-right: 6px;
        }
      }
      
      .generate-button {
        margin-left: auto;
        background-color: var(--figma-color-bg-brand);
        color: var(--figma-color-text-onbrand);
        border: none;
        border-radius: .3125rem;
        font-weight: 500;
        cursor: pointer;
        width: 4.5rem;
        height: 1.5rem;
        
        &:hover {
          background-color: var(--figma-color-bg-brand-hover);
        }
        
        &:disabled {
          opacity: 0.5;
          cursor: not-allowed;
        }
      }
    }
  }
  
  .result-section {
    flex-grow: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    
    .tree-content {
      flex-grow: 1;
      position: relative;
      
      textarea {
        width: 100%;
        height: 100%;
        min-height: 200px;
        padding: 6px;
        border: none;
        resize: none;
        white-space: pre;
        overflow: auto;
        background-color: var(--figma-color-bg-secondary);
        color: var(--figma-color-text);

        -webkit-font-smoothing: antialiased;
        font-family: Roboto Mono, Monaco, Courier New, monospace;
        font-weight: 400;
        font-size: 11px;
        line-height: 13px;
        letter-spacing: .005em;
      }

      .copy-button {
        position: fixed;
        bottom: 0.75rem;
        right: 0.75rem;
        background-color: var(--figma-color-bg);
        color: var(--figma-color-text);
        border: 1px solid var(--figma-color-border);
        padding: var(--s-04);
        border-radius: .3125rem;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.2s ease;
        
        &:hover {
          background-color: var(--figma-color-bg-hover);
        }
        
        &.copied {
          background: rgba(76, 175, 80, 0.2);
          
          &:hover {
            background: rgba(76, 175, 80, 0.3);
          }
        }
    
        svg {
          width: 1.125rem;
          height: 1.125rem;
          transition: stroke 0.2s ease;
        }
      }
      
    }
    
    .empty-state {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      flex-grow: 1;
      text-align: center;
      color: var(--figma-color-text-tertiary);
      height: 100%;
      gap: 4px;
      padding-bottom: 2rem;
      
      .empty-icon {
        width: 64px;
        height: 64px;
        margin-bottom: 16px;
        opacity: 0.5;
      }
      
      .empty-message {
        font-size: .6875rem;
        line-height: 1rem;
        letter-spacing: .00344rem;
        max-width: 14rem;
      }
    }
  }
}

textarea {
  font-family: var(--monospace);
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  font-size: .688rem;
  line-height: .688rem;
  letter-spacing: .005em;
}

input[type="text"],
select {
  @extend %form-field-base;
}

select {
  $select-arrow-light: "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='6' height='6' viewBox='0 0 6 6'%3E%3Cpath fill='%235E5E5E' fill-opacity='1' fill-rule='nonzero' stroke='none' d='m3 5 3-4H0z'%3E%3C/path%3E%3C/svg%3E";
  $select-arrow-dark: "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='6' height='6' viewBox='0 0 6 6'%3E%3Cpath fill='%23BEBEBE' fill-opacity='1' fill-rule='nonzero' stroke='none' d='m3 5 3-4H0z'%3E%3C/path%3E%3C/svg%3E";

  appearance: none;
  background-image: url($select-arrow-light);
  background-position: right 0.7rem center;
  background-repeat: no-repeat;
  background-size: .65em auto;
  border-radius: .3125rem;
  margin-bottom: var(--s-12);
  padding-right: var(--s-02);

  .figma-dark & {
    background-image: url($select-arrow-dark);
  }

  &:focus {
    border-color: var(--figma-color-bg-brand);
  }
}


.type-selector {
  label {
    display: flex;
    flex: 1;
    margin-bottom: 0;
    align-items: center;
    font-size: .6875rem;
    font-weight: 400;
    height: 1.5rem;
    letter-spacing: .00344rem;
    line-height: 1rem;

    input {
      &[type="checkbox"] {
        appearance: none;
        background-position: center center;
        background-size: 8px 8px;
        border-color: var(--figma-color-border);
        border-radius: 0.125rem;
        border-style: solid;
        border-width: 1px;
        cursor: pointer;
        height: var(--s-12);
        margin: 0;
        padding: 0;
        width: var(--s-12);

        &:checked {
          background-color: var(--figma-color-bg-brand);
          background-image: url("data:image/svg+xml,%3csvg width='12' height='12' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M9.5 3.5L5 8L2.5 5.5' stroke='%23ffffff' stroke-width='1.5' fill='none' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e");
          border-color: var(--figma-color-bg-brand);
        }
      }
    }
  }
}